.home-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;

  background-color: rgb(216, 230, 245);
  animation: fadeIn 1.5s;
}

.home-header {
  font-size: xx-large;
  font-weight: 1200;
  margin-bottom: 1rem;
}

.home-sub-header {
  margin-top: 0;
  margin-bottom: 0;
}

.home-bio {
  width: 30%;
  height: 100%;

  padding-left: 1.2rem;
}

.home-logo {
  width: 8rem;
}

.home-pics {
  width: 40%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-headshot {
  margin-top: 4rem;
  width: 75%;
  height: auto;
  border-radius: 50%;
  background-color: wheat;
}

.home-skills {
  width: 30%;
  height: 100%;

  padding-right: 1.2rem;
  text-align: right;
}

.home-skills p {
  margin-top: 0.4rem;
}