/* Home page */
.home-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100vh;
  
    background-color: rgb(216, 230, 245);
    animation: fadeIn 1.5s;
  }
  
  .home-bio {
    width: 30%;
    height: 100%;
  
    padding-left: 1.2rem;
  }
  
  .home-pics {
    width: 40%;
    height: 100%;
  }
  
  .home-skills {
    width: 30%;
    height: 100%;
  
    padding-right: 1.2rem;
    text-align: right;
  }
  
  .sub-heading {
    margin-bottom: 0rem;
  }