/* Projects page */
.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-height: 100vh;
  
    background-color: rgb(216, 230, 245);
    animation: fadeIn 3s;
  }