@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./Lato.ttf') format('truetype');
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.page {
  height: 100%;
  width: 100%;
  font-family: 'Lato';
}

/* Scrollbar css from w3schools.com */
/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}