@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./Lato.ttf') format('truetype');
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* General stylings */
html {
  background-color: whitesmoke;
  font-family: 'Lato';
}

.page {
  height: 100%;
  width: 100%;
}

/* Navbar */
.navbar-container {
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(98, 111, 124);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: sticky;
  z-index: 1000;
}

.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  color: azure;
  text-decoration: none;
  font-size: 26px;
}

.navbar-button:hover {
  background-color: rgb(81, 91, 102);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  height: 75%;
  margin-right: 1.5rem;
}

.icon-wrapper:hover {
  background-color: rgb(81, 91, 102);
}

.left-side {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.right-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

/* Footer */
.footer-container {
  bottom: 0;
  width: 100%;
  height: 1.75rem;
  background-color: rgb(98, 111, 124);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: azure;
  text-decoration: none;
  font-size: 13px;

  position: sticky;
  z-index: 1000;
}

.footer-container p {
  margin: 0;
  padding-left: 1rem;
}

.footer-container a {
  text-decoration: none;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

/* Home page */
.home-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;

  background-color: rgb(216, 230, 245);
  animation: fadeIn 1.5s;
}

.home-bio {
  width: 30%;
  height: 100%;

  padding-left: 1.2rem;
}

.home-pics {
  width: 40%;
  height: 100%;
}

.home-skills {
  width: 30%;
  height: 100%;

  padding-right: 1.2rem;
  text-align: right;
}

.sub-heading {
  margin-bottom: 0rem;
}

/* Projects page */
.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-height: 100vh;

  background-color: rgb(216, 230, 245);
  animation: fadeIn 3s;
}

.card-wrapper {
  position: relative;
  height: 25vh;
  width: 30vw;
  padding: 2rem;
  background-color: rgb(199, 212, 226);
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.card-image:hover {
  opacity: 60%;
}

.card-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;

  background-color: rgb(81, 91, 102);
  color: azure;
  text-decoration: none;
  font-size: 20px;
}

.card-wrapper:hover .card-overlay {
  visibility: visible;
}