@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./Lato.ttf') format('truetype');
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* General stylings */
html {
  background-color: whitesmoke;
  font-family: 'Lato';
}

.page {
  height: 100%;
  width: 100%;
}